{% extends 'base.html.twig' %}

{% block title %}Raumliste{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="container">
        <a class="btn btn-primary" href="/rr/newroom" role="button">Raum Hinzufügen</a>

        <h1>Liste aller Räume</h1>

        <div class="example-wrapper">
            {% for room in rooms %}
                {{ room.roomName }}
                {{ room.description }}
            {% endfor %}
        </div>
    </div>
{% endblock %}
